body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  background-color: #1976d2;
}

nav a {
  color: white;
  text-decoration: none;
}

.card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #115293;
}

/* 全局样式或 Home 组件局部样式 */
body {
  background-color: #f5f5f5; /* 轻柔的背景色 */
}

.container {
  padding-top: 20px; /* 在容器顶部添加一些填充 */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 创建三列的网格布局 */
  grid-gap: 16px; /* 网格间隙 */
  margin-top: 20px; /* 顶部间隔 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
@media (max-width: 600px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) {
  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr; /* 在小屏幕上只显示一列 */
  }
  nav ul {
    flex-direction: column; /* 导航链接在小屏幕上垂直排列 */
  }
}
